@CHARSET "UTF-8";

.tableContainer{
	display: table;
}

.tableRow{
	display: table-row;
	
}

.tableRow div{
	display: table-cell;
	padding: 5px;
}

.logo{
	width: 100%;
}

.horizontalFlexContainer{
	display: flex;
	flex-wrap : wrap;
	justify-content : space-around;
	
}

.verticaleFlexContainer{
	display: flex;
	flex-direction : column;
	overflow-y:auto;
}

#mainContainer{
	flex-wrap : nowrap;
	height :100%;

}

.menuContainer{
	flex-basis:300px;
}

.generalContainer{
	flex-grow:1;
	background-color: silver;
	color: white;

}

.asideContainer{
	flex-basis:50px;
	background-color: grey;
}

.buttonMenu{
	text-align: center;
	font-style: normal;
	font-size: x-large;
	text-decoration: none;
	color:grey;
}

.buttonMenu:HOVER{
	background-color: grey;
	color: white;
}

.clearLink{
	text-decoration: none;
}

.containerMarged{
	margin: 10px
}

.veryBigText{
	font-size: 80px;
}
.veryBigText input{
	font-size: 80px;
}

.veryBigText button{
	font-size: 80px;
}

.bigText{
	font-size: 40px;
}

.bigText input{
	font-size: 40px;
}

.bigText button{
	font-size: 40px;
}

.projectCard {
	width : 300px;
	margin : 5px;
	padding : 5px;
	text-decoration : none;
	color: black;
	background-color: white;
}
.projectCard:visited {
	color: black;
	text-decoration : none;
}

.anchorButton{
	padding : 10px;
	margin : 10px;
	background-color : blue;
	color:white;
	text-decoration : none;
	border-style: none;
	font-size: 20px;
}

.anchorButton:visited{
	color:white;
	text-decoration : none;
}

input{
	width:100%;
	border-left-style: none;
}
